*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    border: 3px solid black;
    /* width: 1280px; */
    background-color: aquamarine;
    width: 100vw;
}

.container{
    border: 3px solid teal;
    background-color: aqua;
    width: 80vw;
    height: 80vh;
    margin: 23px;
    font-size: 18px;
}

.container p{
    font-size: 2em;
}

.mycont {
    border: 2px solid brown;
    background-color: beige;
    width: 100vmin;
}