*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(170, 232, 232);
}
.boxes{
    display: flex;
}
.box{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    padding: 2px;
    margin: 9px;
}

@media only screen and (max-width:400px){
    body{
        background-color: aquamarine;
    }
    .boxes{
        flex-direction: column;
    }
}